<div class="row" style="margin-bottom: 50px;">
    <h4 style="padding-left: 15px;">Welcome to Retail Portal!</h4>
</div>
<div style="margin-bottom: 50px;">
  <div class="w-100" style="margin-bottom: 10px;">
      <h6 style="font-weight: 700;">Stock Health</h6>
  </div>
  <div class="w-100" *ngIf="!stockHealthData">
      <p>Something went wrong. Couldn't fetch stock health data.</p>
  </div>
  <span *ngIf="stockHealthData">
    <div class="notice notice-success" *ngIf="stockHealthData.outOfStock.length === 0 && stockHealthData.warning.length === 0">
      <strong><i class="fas fa-check-double fa-fw"></i></strong> &nbsp; All product stock quantity is good
    </div>
    <div class="notice notice-danger" *ngIf="stockHealthData.outOfStock.length > 0">
        <strong><i class="fas fa-exclamation-triangle fa-fw"></i></strong> &nbsp; <b>{{ stockHealthData.outOfStock.length }} Products are running out of stock!</b>
    </div>
    <div class="notice notice-warning" *ngIf="stockHealthData.warning.length > 0">
      <strong><i class="fas fa-exclamation-circle fa-fw"></i></strong> &nbsp; <b>{{ stockHealthData.warning.length }} Product stocks are soon going to be finished</b>
    </div>
  </span>
</div>
<div style="margin-bottom: 50px;">
    <div class="w-100" style="margin-bottom: 10px;">
        <h6 style="font-weight: 700;">Analytics</h6>
    </div>
    <div class="w-100" *ngIf="!(barChartData[0].data.length > 0 && barChartData[0].data.length > 0)">
        <p>No analytics data available for this month</p>
    </div>
    <div class="row" *ngIf="barChartData[0].data.length > 0 && barChartData[0].data.length > 0">
        <div class="col-md-6 col-sm-12" *ngIf="barChartData[0].data.length > 0">
            <div class="card text-center">
                <div class="card-body">
                  <h5 class="card-title">Most Ordered Products</h5>
                  <h6 style="font-weight: 700; margin-bottom: 40px;">Month: 
                    <span style="color: green;">{{ currentMonth }}</span>
                  </h6>
                  <canvas baseChart
                    [datasets]="barChartData"
                    [labels]="barChartLabels"
                    [options]="barChartOptions"
                    [legend]="barChartLegend"
                    [chartType]="barChartType">
                </canvas>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-12" *ngIf="pieChartData.length > 0">
            <div class="card text-center">
                <div class="card-body">
                  <h5 class="card-title">Most Popular Tags</h5>
                  <h6 style="font-weight: 700; margin-bottom: 40px;">Month: 
                    <span style="color: green;">{{ currentMonth }}</span>
                  </h6>
                  <canvas baseChart
                    [data]="pieChartData"
                    [labels]="pieChartLabels"
                    [chartType]="pieChartType"
                    [options]="pieChartOptions"
                    [colors]="pieChartColors"
                    [legend]="pieChartLegend">
                  </canvas>
                </div>
            </div>
        </div>
    </div>
</div>
<div style="margin-bottom: 50px;">
    <div class="w-100" style="margin-bottom: 10px;">
        <h6 style="font-weight: 700;">Order Summary</h6>
    </div>
    <div class="w-100" *ngIf="!showSummary">
        <p>No summary data available</p>
    </div>
    <div class="row" style="margin-bottom: 50px;" *ngIf="showSummary">
        <!-- <div class="col-md-3 mt-auto" style="margin: auto 0;">
          <div class="card-counter primary">
              <h5 class="w-100">Total Orders</h5>
              <h3 class="count-numbers w-100">{{ totalOrder }}</h3>
          </div>
        </div>
     -->
        <div class="col-md-4">
          <div class="card-counter info">
            <h5 class="w-100">In Progress Order</h5>
              <h3 class="count-numbers w-100">{{ totalInprogressOrder }}</h3>
          </div>
        </div>
    
        <div class="col-md-4">
          <div class="card-counter success">
            <h5 class="w-100">Completed Order</h5>
              <h3 class="count-numbers w-100">{{ totalCompletedOrder }}</h3>
          </div>
        </div>
    
        <div class="col-md-4">
          <div class="card-counter danger">
            <h5 class="w-100">Canceled Order</h5>
              <h3 class="count-numbers w-100">{{ totalCanceledOrder }}</h3>
          </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12" style="margin-bottom: 10px;">
        <h6 style="font-weight: 700;">Management</h6>
    </div>
    <div class="col-md-4 col-sm-12">
        <div class="card text-center">
            <div class="card-body">
              <h5 class="card-title">Order Management</h5>
              <p class="card-text">Handle your orders in a fastest way. Keep your focus only on the orders from your precious customers</p>
              <a [href]="orderManagementUrl" class="btn btn-primary">Enter</a>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-sm-12">
        <div class="card text-center">
            <div class="card-body">
              <h5 class="card-title">Product Management</h5>
              <p class="card-text">Add or update your existing product catalog. Create new catagories with tags and add new product as many as you want</p>
              <a [href]="productManagementUrl" class="btn btn-primary">Enter</a>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-sm-12">
      <div class="card text-center">
          <div class="card-body">
            <h5 class="card-title">Content Management</h5>
            <p class="card-text">Manage your site without changing your code. Add new pages, widgets homepage content and many more.</p>
            <a [href]="contentManagementUrl" class="btn btn-primary">Enter</a>
          </div>
      </div>
  </div>
</div>
