<div style="padding-left: 12px;">
    <p *ngIf="parentCategory">
        <span style="font-weight: bold;">Parent Category: </span> 
        <a routerLink="/categories/edit/{{ categoryId.value }}">{{ parentCategory.name }}</a>
    </p>
    <app-data-table
        [columnConfig]="catagoriesListService.subColumnConfig | async" 
        [tableData]="catagoriesDataService.subCatagories | async"
        [actions]="catagoriesListService.subCatTableActions | async">
        <a class="btn btn-link" routerLink="/categories/subcategories/add/{{ categoryId.value }}"  style="padding-left: 0px;">
            <i class="fas fa-plus"></i>&nbsp;
            <span style="font-weight: 600; margin-left: 5px;">Add Subcategory</span>
        </a>
    </app-data-table>
</div>