<div style="padding-left: 12px;">
    <div>
        <div class="row">
            <div class="col-lg-6 col-12">
                <div class="form-group required">
                    <label for="exampleInputEmail1">Name</label>
                    <input type="text" class="form-control" [formControl]="sliderNameControl" />
                </div>
                <div class="form-group required">
                    <label for="exampleInputEmail1">Type</label>
                    <ng-select
                        [items]="sliderDataService.types$ | async"
                        [multiple]="false"
                        [closeOnSelect]="true"
                        [searchable]="false"
                        bindLabel="name"
                        bindValue="value"
                        placeholder="Select Slider Type"
                        [formControl]="sliderTypeControl">
                    </ng-select>
                </div>
            </div>
        </div>
        <div class="row">  
            <div class="col-12 button-row" style="margin-top: 33px;">
                <button class="btn btn-danger" routerLink="/widgets/sliders" [disabled]="disableAddBtn">Cancel</button>
                <button class="btn btn-primary" (click)="addOrUpdateSlider()" [disabled]="!sliderForm.valid || disableAddBtn">
                    <span>{{ buttonText }}</span>
                </button>
            </div>
        </div>
    </div>
</div>