<div style="padding-left: 12px;">
    <div class="alert alert-danger" role="alert" *ngIf = "hasFreePlan">
        On free plan you can add only {{ freeProductLimit }} products. Please upgrade to add more.
    </div>
    <app-data-table
        [columnConfig]="productListService.columnConfig$ | async" 
        [tableData]="productDataService.products$ | async"
        [actions]="productListService.tableActions$ | async">
        <a *ngIf="(hasFreePlan && !productQuantityLimitExceeds)" class="btn btn-link" routerLink="/products/add"  style="padding-left: 0px;">
            <i class="fas fa-plus"></i>&nbsp;
            <span style="font-weight: 600; margin-left: 5px;">Add New</span>
        </a>
        <a *ngIf="!hasFreePlan" class="btn btn-link" routerLink="/products/add"  style="padding-left: 0px;">
            <i class="fas fa-plus"></i>&nbsp;
            <span style="font-weight: 600; margin-left: 5px;">Add New</span>
        </a>
    </app-data-table>
</div>