<div class="container">
    <div style="text-align: center; width: 100%; margin: 20px 0px;">
        <a style="margin-top: 20px;" href="/">
            <img [src]="'./assets/images/bincom-logo.png'" style="width: 200px;" />
        </a>
    </div>
    <div class="login-registration-form">
        <h3 style="text-align: center; margin-bottom: 20px;">Create your account</h3>
        <mat-card>
            <mat-card-content style="margin-bottom: 0;">
                <div class="alert alert-danger" role="alert" *ngIf="hasError">
                    {{ errorMessage }}
                </div>
               <div [formGroup]="regForm">
                    <mat-form-field appearance="outline" style="width:100% !important; margin-bottom: 20px;">
                        <mat-label>Username</mat-label>
                        <input type="text" matInput formControlName="userName" required>
                        <mat-error *ngIf="userName.errors?.required && (userName.dirty || userName.touched)">
                            Username is required
                        </mat-error>
                        <mat-hint>Only letters, numbers and hyphens (-)</mat-hint>
                    </mat-form-field>
    
                    <mat-form-field appearance="outline" style="width:100% !important; margin-bottom: 10px;">
                        <mat-label>Email address</mat-label>
                        <input type="email" matInput formControlName="email" required>
                        <mat-error *ngIf="email.errors?.required && (email.dirty || email.touched)">
                            Email is required
                        </mat-error>
                        <mat-error *ngIf="email.errors?.email && (email.dirty || email.touched)">
                            Not a valid email address
                        </mat-error>
                    </mat-form-field>
    
                    <mat-form-field appearance="outline" style="width:100% !important; margin-bottom: 20px;">
                        <mat-label>Password</mat-label>
                        <input type="password" matInput formControlName="password" required>
                        <mat-error *ngIf="password.errors?.required && (password.dirty || password.touched)">
                            Password can't be empty
                        </mat-error>
                        <mat-error *ngIf="password.errors?.minlength && (password.dirty || password.touched)">
                            Password should be at least 8 characters long
                        </mat-error>
                        <mat-hint>Should be at least 8 characters long</mat-hint>
                    </mat-form-field>
    
                    <div style="margin-bottom: 10px">
                        <mat-form-field appearance="outline" style="width:100% !important;">
                            <mat-label>Re-type Password</mat-label>
                            <input type="password" matInput formControlName="rePassword">
                        </mat-form-field>
                    </div>
               </div>       
            </mat-card-content>
            <mat-card-actions style="margin-bottom: 20px;">
                <mat-spinner style="margin: 0 auto;" [diameter]="30" *ngIf="!showButton"></mat-spinner>
                <div class="d-flex justify-content-center" *ngIf="showButton">
                    <button mat-raised-button
                            color="primary" 
                            (click)="createAccount()" 
                            [disabled]="regForm.invalid">
                        Create account
                    </button>
                </div>
            </mat-card-actions>
        </mat-card>
        <p style="margin-top: 20px; color: grey; text-align: center;">
            <a style="text-decoration: none;" href="https://www.bincommerz.com">bincommerz</a> © 2019-2022
        </p>
    </div>
</div>