<ul class="nav">
    <li class="nav-item">
        <a  class="nav-link" style="padding-left: 0px; font-weight: bold;" routerLink="/dashboard/settings/shop">Shop Settings</a>
      </li>
    <li class="nav-item">
      <a style="font-weight: bold;" class="nav-link" routerLink="/dashboard/settings/account">Account Settings</a>
    </li>
    <li class="nav-item">
      <a style="font-weight: bold;" class="nav-link" routerLink="/dashboard/settings/domains">App URL & Domains</a>
    </li>
    <li class="nav-item">
      <a style="font-weight: bold;" class="nav-link" routerLink="/dashboard/settings/subscription">Subscription</a>
    </li>
</ul>

<hr>

<div style="margin-top: 30px;">
    <router-outlet></router-outlet>
</div>