@import "~@ng-select/ng-select/themes/default.theme.css";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~ngx-toastr/toastr-bs4-alert";

html,
body {
  font-family: "Nunito", sans-serif;
}

.card {
  margin-bottom: 20px;
}

.text-gray-800 {
  color: #5a5c69 !important;
}

.btn-link {
  text-decoration: none !important;
}

.btn:focus,
.btn:active {
  outline: none !important;
  box-shadow: none;
}

.breadcrumb {
  background: none;
  .breadcrumb-item {
    a {
      text-decoration: none;
      i {
        color: #007bff;
      }
    }
  }
}

.button-row {
  .btn {
    margin-right: 5px;
  }
}

.form-group {
  label {
    font-weight: 600;
  }
}

.required {
  label::after {
    content: " *";
    color: red;
  }
}

.info-box {
  padding-left: 0px;
  list-style-type: none;

  li {
    padding-bottom: 20px;
    .info-label {
      font-weight: 600;
    }
  }
}

a {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                supported by Chrome, Edge, Opera and Firefox */
}

a:hover {
  text-decoration: none;
}

.notice {
  padding: 15px;
  background-color: #fafafa;
  border-left: 6px solid #7f7f84;
  margin-bottom: 10px;
  -webkit-box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
          box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
}
.notice-sm {
  padding: 10px;
  font-size: 80%;
}
.notice-lg {
  padding: 35px;
  font-size: large;
}
.notice-success {
  border-color: #80D651;
}
.notice-success>strong {
  color: #80D651;
}
.notice-info {
  border-color: #45ABCD;
}
.notice-info>strong {
  color: #45ABCD;
}
.notice-warning {
  border-color: #FEAF20;
}
.notice-warning>strong {
  color: #FEAF20;
}
.notice-danger {
  border-color: #d73814;
}
.notice-danger>strong {
  color: #d73814;
}
